<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840326844825-kc4t206sh5mv0pkqben6ii3ho40a15or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840326844825-kc4t206sh5mv0pkqben6ii3ho40a15or</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840326844825-29jad961qit93l8tk347mdu3e9o88doe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrbAIlivCikOwUaIB78F9h_WHebLnf8mI</string>
	<key>GCM_SENDER_ID</key>
	<string>840326844825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.haraseikou.stg-mashipla</string>
	<key>PROJECT_ID</key>
	<string>stage-mashipla</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-mashipla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840326844825:ios:52efd61d807f2679720308</string>
</dict>
</plist>